# Introduction to Pandas

## What is Pandas?

Pandas is an open-source library providing high-performance, easy-to-use data structures, and data analysis tools for Python. Its primary data structures, the Series and DataFrame, allow you to handle and analyze data in a way tailored to data science needs.

# Benefits of Using Pandas

Pandas is a powerful data manipulation library in Python that offers several key benefits:

1. **Structured Data Handling:** Pandas provides data structures like DataFrames and Series, which allow you to work with structured data in a tabular form. This makes it easy to read, manipulate, and analyze data, similar to working with a spreadsheet.

2. **Data Cleaning and Transformation:** Pandas offers a wide range of functions for data cleaning, handling missing values, and transforming data. It simplifies tasks such as data imputation, filtering, and merging.

![Illustration of Data Cleaning](images/data_cleaning_cycle.png)

3. **Efficient Data Loading and Storage:** Pandas supports reading data from various file formats (CSV, Excel, SQL databases) and can export data to different formats. It efficiently handles large datasets and optimizes memory usage.

4. **Data Analysis and Exploration:** With Pandas, you can perform data analysis tasks like aggregation, grouping, and statistical operations. It provides tools for summarizing and visualizing data, making it easier to gain insights.

5. **Integration with Other Libraries:** Pandas seamlessly integrates with other data science libraries like NumPy, Matplotlib, and Scikit-Learn. This allows you to combine data manipulation, analysis, and visualization in a cohesive workflow.

6. **Time Series Data Handling:** Pandas has excellent support for time series data, making it suitable for financial, scientific, and IoT applications.

7. **Community Support:** Pandas has a large and active community, which means you can find plenty of resources, tutorials, and solutions to common data manipulation challenges.

**Image Context**: The provided image illustrates a common use case of Pandas, showing how it simplifies data cleaning and transformation tasks. It can visually represent actions like removing missing values, filtering data, and performing transformations, helping users understand the power of Pandas in data preparation.

By leveraging Pandas, data scientists and analysts can streamline their data processing workflows and focus on deriving meaningful insights from their datasets.

In [ ]:
import pandas as pd

# Loading Data into Pandas DataFrames

## Creating a DataFrame from Lists and Dictionaries

Pandas provides various functions to read data, one of the most common formats being the CSV (Comma-Separated Values) file. CSV files are plain text files that contain data separated by commas (or sometimes other delimiters).

> **Overview**
>
> DataFrames are a fundamental data structure in pandas, a popular Python library for data manipulation and analysis. They are used to represent and work with tabular data, much like a spreadsheet or database table. This markdown block provides an explanation of how to create DataFrames in pandas using two different methods: from a list and from a dictionary.

> **Creating a DataFrame from a List**
>
> To create a DataFrame from a list, you can use the `pd.DataFrame()` constructor provided by the pandas library. In the example, we have a list called `data_list` containing sublists, where each sublist represents a row of data. We also specify column names as 'Name' and 'Age' using the `columns` parameter.
>
> ```python
> data_list = [['Alex', 10], ['Ron', 15], ['Jane', 13]]
> df_from_list = pd.DataFrame(data_list, columns=['Name', 'Age'])
> ```
>
> The `pd.DataFrame()` constructor takes the list `data_list` and converts it into a DataFrame object with labeled columns. This allows us to work with the data in a structured tabular format. The resulting DataFrame, `df_from_list`, looks like this:
>
> |   | Name | Age |
> |---|------|-----|
> | 0 | Alex | 10  |
> | 1 | Ron  | 15  |
> | 2 | Jane | 13  |
>
> Each sublist in `data_list` corresponds to a row in the DataFrame, and the column names 'Name' and 'Age' are assigned to the respective columns.

> **Creating a DataFrame from a Dictionary**
>
> Creating a DataFrame from a dictionary is another common approach. In this case, the keys of the dictionary become the column names, and the values associated with each key become the data for that column. In the example, we have a dictionary called `data_dict` with 'Name' and 'Age' as keys.
>
> ```python
> data_dict = {'Name': ['Alex', 'Ron', 'Jane'], 'Age': [10, 15, 13]}
> df_from_dict = pd.DataFrame(data_dict)
> ```
>
> Using the `pd.DataFrame()` constructor with `data_dict`, we create the DataFrame `df_from_dict`. The resulting DataFrame looks like this:
>
> |   | Name | Age |
> |---|------|-----|
> | 0 | Alex | 10  |
> | 1 | Ron  | 15  |
> | 2 | Jane | 13  |
>
> The keys of the dictionary ('Name' and 'Age') become the column names, and the corresponding values form the data for each column. This method is convenient when you have data organized in a dictionary and want to convert it into a DataFrame for analysis.

In [ ]:
# Creating a DataFrame from a list
data_list = [['Alex', 10], ['Ron', 15], ['Jane', 13]]
df_from_list = pd.DataFrame(data_list, columns=['Name', 'Age'])
print(df_from_list)

# Creating a DataFrame from a dictionary
data_dict = {'Name': ['Alex', 'Ron', 'Jane'], 'Age': [10, 15, 13]}
df_from_dict = pd.DataFrame(data_dict)
df_from_dict

## Creating DataFrames from a CSV File

> **Overview**
>
> In this markdown block, we explore how to load CSV data into a pandas DataFrame and perform basic viewing operations on the loaded data.

> **Loading CSV Data into a DataFrame**
>
> To load CSV data into a pandas DataFrame, you can use the `pd.read_csv()` function provided by the pandas library. In the example, we load data from a CSV file named 'sample_data.csv' into a DataFrame called `df_csv`.
>
> ```python
> df_csv = pd.read_csv('sample_data.csv')
> ```
>
> The `pd.read_csv()` function reads the contents of the CSV file and converts it into a DataFrame, allowing you to work with the tabular data.

> **Displaying the Top 5 Lines of Loaded Data**
>
> After loading data into a DataFrame, you can use the `.head()` method to display the top few rows of the DataFrame. By default, it shows the first 5 rows, but you can specify a different number of rows by passing an integer as an argument.
>
> ```python
> df_csv.head()
> ```
>
> The `head()` method is useful for quickly inspecting the structure and content of your DataFrame. It displays the first few rows, along with the column names and data, providing an overview of the loaded data.

> **Additional Basic Viewing Functionality**
>
> In addition to `.head()`, pandas offers several other basic viewing and exploration methods to better understand your data. Some of these include:
>
> - `.tail()`: Similar to `.head()`, but displays the last few rows of the DataFrame.
> - `.info()`: Provides a summary of the DataFrame's structure, including data types, non-null counts, and memory usage.
> - `.describe()`: Generates descriptive statistics for numerical columns, such as mean, standard deviation, and quartiles.
> - `.shape`: Returns a tuple representing the dimensions of the DataFrame (number of rows, number of columns).
> - `.columns`: Returns a list of column names in the DataFrame.
>
> These functions are essential for data exploration and initial analysis, helping you gain insights into your data's characteristics and quality.

In [ ]:
# Load CSV data into a DataFrame
df_csv = pd.read_csv('sample_data.csv')

# Display the top 5 lines of the loaded data
print("Top 5 lines of the loaded data:")
print(df_csv.head())

# Display information about the DataFrame including data types and non-null counts
print("\nInformation about the DataFrame:")
print(df_csv.info())

# Generate descriptive statistics for numerical columns
print("\nDescriptive statistics for numerical columns:")
print(df_csv.describe())

# Get the list of column names in the DataFrame
print("\nColumn names in the DataFrame:")
print(df_csv.columns)

# Get the dimensions of the DataFrame (number of rows and columns)
print("\nDimensions of the DataFrame:")
print(df_csv.shape)

# Display the last 5 lines of the loaded data
print("\nLast 5 lines of the loaded data:")
print(df_csv.tail())

# Data Cleaning and Preprocessing

## Handling Missing Data

> **Overview**
>

> **Creating a DataFrame with Missing Values**
>
> We begin by creating a DataFrame called `df_na` that contains missing values (represented as NaN) using the NumPy library. The DataFrame `df_na` has columns 'A', 'B', and 'C', with missing values in specific cells.

> **Displaying Missing Values**
>
> We print the original DataFrame `df_na` to display its content, including the missing values.

> **Dropping Rows with Missing Values**
>
> Next, we use the `.dropna()` method to remove rows containing missing values from the DataFrame. The resulting DataFrame, `df_no_na`, contains only rows with complete data.

> **Filling Missing Values with a Placeholder**
>
> We use the `.fillna()` method to replace missing values with a placeholder value, in this case, 0. The resulting DataFrame, `df_filled`, has missing values filled with zeros.

> **Checking for Missing and Non-Missing Values**
>
> We perform checks to determine the presence of missing values in the original DataFrame `df_na`. We calculate the number of missing values for each column using `.isna().sum()` and the number of non-missing values using `.count()`.

> **Checking for Any Missing Values**
>
> Lastly, we use `.isna().any().any()` to check if any missing values exist in the DataFrame. This provides a binary answer to whether the DataFrame contains any missing data.

These operations demonstrate common techniques for handling missing values in a pandas DataFrame and assessing the data's completeness and quality.

In [ ]:
# Creating a DataFrame with missing values
import numpy as np
data_with_na = {'A': [1, 2, np.nan], 'B': [4, np.nan, 6], 'C': [7, 8, 9]}
df_na = pd.DataFrame(data_with_na)

In [ ]:
# Displaying missing values
print("DataFrame with Missing Values:\n", df_na)

In [ ]:
# Dropping rows containing missing values
df_no_na = df_na.dropna()
print("\nAfter dropping rows with missing values:\n", df_no_na)

In [ ]:
# Filling missing values with a placeholder (e.g., 0)
df_filled = df_na.fillna(0)
print("\nAfter filling missing values with 0:\n", df_filled)

In [ ]:
# Check for missing values
missing_values = df_na.isna().sum()
print("\nMissing values in the original DataFrame:\n", missing_values)

In [ ]:
# Check for non-missing values
non_missing_values = df_na.count()
print("\nNon-missing values in the original DataFrame:\n", non_missing_values)

In [ ]:
# Check if any missing values exist in the DataFrame
has_missing_values = df_na.isna().any().any()
print("\nDoes the DataFrame have any missing values?\n", has_missing_values)

## Transforming Data

Data often requires transformation, whether to normalize it, categorize it, or simply derive new insights. Here's how you can transform data using Pandas:

In [ ]:
# Applying a function to a column to double the age
df_from_list['Doubled Age'] = df_from_list['Age'].apply(lambda age: age * 2)
print(df_from_list)

# Data Selection and Filtering

## Selecting Columns and Rows

> **Overview**
>
> In this markdown block, we explore various data selection and slicing techniques in pandas DataFrame. The code block demonstrates how to select single columns as Series, specific columns as DataFrames, filter rows based on conditions, and use the `.loc` and `.iloc` methods for precise data selection.

> **Selecting a Single Column**
>
> We start by selecting a single column, 'Name', from the DataFrame `df_from_list`. This operation creates a pandas Series containing only the 'Name' column.

> **Selecting Specific Columns**
>
> Next, we demonstrate how to select specific columns, 'Name' and 'Age', from the DataFrame. This operation creates a new DataFrame called `subset` containing only the specified columns.

> **Selecting Rows Based on a Condition**
>
> We showcase row selection based on a condition. Specifically, we filter rows where the 'Age' column is greater than 12, resulting in a DataFrame named `teens` containing only rows that meet the condition.

> **Using `.loc` and `.iloc` Methods**
>
> We introduce the use of the `.loc` and `.iloc` methods for precise data selection. With `.iloc`, we select rows 1 and 2 along with all columns. With `.loc`, we demonstrate selecting data based on index labels and column names.

> **Note**: In this example, integer index labels are used with `.loc`, but pandas also supports label-based indexing for custom index labels.

These operations illustrate how to effectively extract and manipulate data within a pandas DataFrame, allowing for flexible data analysis and manipulation.

In [ ]:
# Selecting a single column
# This creates a Series
only_names = df_from_list['Name']
print("Selected single column 'Name' as a Series:")
print(only_names)
print(f"The type is: {type(only_names)}")

In [ ]:
# Selecting specific columns
# This creates a DataFrame
subset = df_from_list[['Name', 'Age']]
print("\nSelected specific columns 'Name' and 'Age' as a DataFrame:")
print(subset)
print(f"The type is: {type(subset)}")
df_from_list

In [ ]:
# Selecting rows based on a condition
teens = df_from_list[df_from_list['Age'] > 12]
print("\nSelected rows where 'Age' is greater than 12:")
print(teens)

In [ ]:
# Using the `.loc` and `.iloc` methods for more precise selection
# Selecting rows 1 and 2, and all columns
subset = df_from_list.iloc[1:3, :2]
print("\nSelected rows 1 and 2, and all columns using .iloc:")
print(subset)

In [ ]:
# Selecting data based on index label and column names using `.loc`
# Note: In this case, we are using integer index labels.
subset_label = df_from_list.loc[1:2, 'Name':'Doubled Age']
print("\nSelected data based on index label and column names using .loc:")
print(subset_label)

# Aggregating and Grouping Data

## Basic Aggregations

> **Overview**
>
> In this markdown block, we explore the calculation of basic statistics on the "Age" column within a pandas DataFrame. The code block demonstrates how to compute measures such as the mean, sum, maximum, minimum, median, and standard deviation of age values in the DataFrame.

> **Calculating Basic Statistics**
>
> We start by calculating the following basic statistics on the "Age" column:
>
> - Mean Age: This is the average age of the individuals in the DataFrame.
> - Sum of Ages: This represents the total sum of ages across all individuals.
> - Oldest Age: This indicates the maximum age value in the "Age" column.
>
> These statistics provide a quick overview of the age distribution within the dataset.

> **Calculating Additional Statistics**
>
> In addition to the basic statistics, we calculate the following additional statistics:
>
> - Youngest Age: This corresponds to the minimum age value in the "Age" column.
> - Median Age: The median represents the middle value when the ages are sorted in ascending order.
> - Standard Deviation of Age: This measures the variability or dispersion of age values around the mean.
>
> These additional statistics provide further insights into the age distribution, including measures of central tendency and data spread.

> **Note**: Pandas provides convenient methods to calculate these statistics directly from a DataFrame column, making it easy to gain insights into your data.

In [ ]:
# Calculating basic statistics on the "Age" column
mean_age = df_from_list['Age'].mean()
sum_age = df_from_list['Age'].sum()
max_age = df_from_list['Age'].max()

print(f"Mean Age: {mean_age}")
print(f"Sum of Ages: {sum_age}")
print(f"Oldest Age: {max_age}")

In [ ]:
# Calculating additional statistics
min_age = df_from_list['Age'].min()
median_age = df_from_list['Age'].median()
std_dev_age = df_from_list['Age'].std()

print(f"Youngest Age: {min_age}")
print(f"Median Age: {median_age}")
print(f"Standard Deviation of Age: {std_dev_age}")

## Grouping and Aggregating Data

> **Overview**
>
> In this markdown block, we explore data grouping and aggregation techniques in pandas using a sample dataset. The code block demonstrates how to create groups based on a specific column ('City' in this case) and perform calculations within each group, such as calculating mean ages, counting individuals, and summing ages.

> **Creating Groups and Calculating Mean Age**
>
> We start by adding a 'City' column to the DataFrame `df_from_list`. This column represents the city of residence for each individual. Next, we use the `.groupby()` method to group the data by the 'City' column. We then calculate the mean age within each city using `.mean()`. The result is a DataFrame named `grouped_data` that shows the mean age for each city.

> **Counting Individuals in Each City**
>
> Additionally, we use the `.value_counts()` method to count the number of individuals in each city. The result is a Series named `count_data` that provides a count of individuals in each city.

> **Summing Ages Within Each City**
>
> To further demonstrate grouping and aggregation, we sum the ages within each city using the `.groupby()` method and `.sum()`. This operation yields a Series named `sum_data` that shows the total age sum within each city.

> **Grouping and Aggregating Data**
>
> Grouping and aggregating data is a powerful technique in data analysis, allowing you to gain insights into various aspects of your dataset based on specific criteria. These operations are commonly used for summarizing data and exploring patterns within subgroups.

In [ ]:
# Adding cities to the `df_from_list` DataFrame
df_from_list['City'] = ['NY', 'LA', 'NY']

# Grouping by city and calculating mean age within each city
grouped_data = df_from_list.groupby('City')['Age'].mean()
print("Grouped data with mean age within each city:")
print(grouped_data)

# Counting the number of individuals in each city
count_data = df_from_list['City'].value_counts()
print("\nCount of individuals in each city:")
print(count_data)

# Summing the ages within each city
sum_data = df_from_list.groupby('City')['Age'].sum()
print("\nTotal age sum within each city:")
print(sum_data)

# Merging and Joining DataFrames

## Combining DataFrames

> **Overview**
>
> In this markdown block, we explore how to combine and merge two pandas DataFrames based on a common column using different types of joins. The code block demonstrates various types of joins, including outer join, inner join, left join, and right join.

> **Merging DataFrames Based on a Common Key**
>
> We start by creating two sample DataFrames, `df1` and `df2`, each containing a 'Key' column. These DataFrames will be used for merging.

> **Outer Join**
>
> We use the `pd.merge()` function to merge `df1` and `df2` based on the 'Key' column using an outer join. An outer join includes all unique values from both DataFrames, filling in missing values with NaN where necessary. The result is stored in the `merged` DataFrame.

> **Inner Join**
>
> Next, we perform an inner join, which includes only the values that exist in both DataFrames. The result is stored in the `inner_merged` DataFrame.

> **Left Join**
>
> A left join includes all values from the left DataFrame (`df1`) and the matching values from the right DataFrame (`df2`). Missing values from the right DataFrame are filled with NaN. The result is stored in the `left_merged` DataFrame.

> **Right Join**
>
> Conversely, a right join includes all values from the right DataFrame (`df2`) and the matching values from the left DataFrame (`df1`). Missing values from the left DataFrame are filled with NaN. The result is stored in the `right_merged` DataFrame.

> **Note**: Joining DataFrames is a common operation when working with relational data, allowing you to combine data from different sources based on shared keys.

In [ ]:
# Creating two DataFrames for the demonstration
df1 = pd.DataFrame({'Key': ['A', 'B', 'C'], 'Value1': [1, 2, 3]})
df2 = pd.DataFrame({'Key': ['A', 'B', 'D'], 'Value2': [4, 5, 6]})

In [85]:
# Merging them based on the "Key" column using an outer join
merged = pd.merge(df1, df2, on='Key', how='outer')
print("Merged DataFrames using an outer join:")
print(merged)

Merged DataFrames using an outer join:
  Key  Value1  Value2
0   A     1.0     4.0
1   B     2.0     5.0
2   C     3.0     NaN
3   D     NaN     6.0

In [86]:
# Performing an inner join
inner_merged = pd.merge(df1, df2, on='Key', how='inner')
print("\nMerged DataFrames using an inner join:")
print(inner_merged)

Merged DataFrames using an inner join:
  Key  Value1  Value2
0   A       1       4
1   B       2       5

In [87]:
# Performing a left join
left_merged = pd.merge(df1, df2, on='Key', how='left')
print("\nMerged DataFrames using a left join:")
print(left_merged)

Merged DataFrames using a left join:
  Key  Value1  Value2
0   A       1     4.0
1   B       2     5.0
2   C       3     NaN

In [88]:
# Performing a right join
right_merged = pd.merge(df1, df2, on='Key', how='right')
print("\nMerged DataFrames using a right join:")
print(right_merged)

Merged DataFrames using a right join:
  Key  Value1  Value2
0   A     1.0       4
1   B     2.0       5
2   D     NaN       6

This merge uses the 'outer' method, ensuring all keys from both DataFrames are included. Other methods like 'inner', 'left', and 'right' give you control over which keys to retain.

> **Example: Right Join of Employees and Departments Tables**
>
> Consider two SQL-like tables, `Employees` and `Departments`, and perform a right join between them based on a common key, which is the department ID (`DeptID`).
>
> **Employees Table:**
>
> | EmpID | EmpName  | DeptID |
> |-------|----------|--------|
> | 1     | Alice    | 101    |
> | 2     | Bob      | 102    |
> | 3     | Charlie  | 103    |
> | 4     | Dave     | 104    |
>
> **Departments Table:**
>
> | DeptID | DeptName    |
> |--------|-------------|
> | 101    | HR          |
> | 103    | Finance     |
> | 105    | Marketing   |
> | 106    | Operations  |
>
> In this example, we want to perform a right join between the `Employees` and `Departments` tables on the `DeptID` column. The result will include all rows from the `Departments` table and matching rows from the `Employees` table. If there is no match in the `Employees` table, the corresponding columns will be filled with NaN.
>
> **Resultant Table (After Right Join):**
>
> | EmpID | EmpName  | DeptID | DeptName    |
> |-------|----------|--------|-------------|
> | 1     | Alice    | 101    | HR          |
> | NaN   | NaN      | 105    | Marketing   |
> | 3     | Charlie  | 103    | Finance     |
> | NaN   | NaN      | 106    | Operations  |
>
> In the resultant table:
>
> - The rows with `EmpID` 1 and 3 are matching between the `Employees` and `Departments` tables based on the `DeptID` column, so they appear in the merged table.
> 
> - Rows with `DeptID` 105 and 106 exist only in the `Departments` table, so they also appear in the merged table. However, the corresponding columns for `EmpID` and `EmpName` from the `Employees` table are filled with NaN because there are no matching employees in those departments.
>
> This is an example of a right join, which ensures that all unique values from the right table (`Departments`) are included in the merged table and brings in matching values from the left table (`Employees`) while filling missing values with NaN when there is no match in the left table.